In [1]:
import csv

In [2]:
#open the file
# data=open(r'C:\Users\KIDS\My python stuff\15-PDFs-and-Spreadsheets\15-PDFs-and-Spreadsheets\example.csv') #if you are not in the same directory
#then provide the path otherwise just simply enter the filename
data=open('example.csv',encoding='utf-8')

In [3]:
#csv reader
csv_data=csv.reader(data)

In [4]:
#reformat it into a python object list of lists
data_lines=list(csv_data) #We didn't got an error because of utf-8 encoding , otherwise we could have encountered an error

In [5]:
data_lines[0]

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address', 'city']

In [6]:
len(data_lines) #it gives us no of rows

1001

In [7]:
for line in data_lines[:5]:
    print(line)

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address', 'city']
['1', 'Joseph', 'Zaniolini', 'jzaniolini0@simplemachines.org', 'Male', '163.168.68.132', 'Pedro Leopoldo']
['2', 'Freida', 'Drillingcourt', 'fdrillingcourt1@umich.edu', 'Female', '97.212.102.79', 'Buri']
['3', 'Nanni', 'Herity', 'nherity2@statcounter.com', 'Female', '145.151.178.98', 'Claver']
['4', 'Orazio', 'Frayling', 'ofrayling3@economist.com', 'Male', '25.199.143.143', 'Kungur']

In [8]:
data_lines[10][3]

'hgasquoine9@google.ru'

In [9]:
all_emails = []
for line in data_lines[1:15]:
    all_emails.append(line[3])

In [10]:
all_emails

['jzaniolini0@simplemachines.org',
 'fdrillingcourt1@umich.edu',
 'nherity2@statcounter.com',
 'ofrayling3@economist.com',
 'jmurrison4@cbslocal.com',
 'lgamet5@list-manage.com',
 'dhowatt6@amazon.com',
 'kherion7@amazon.com',
 'chedworth8@china.com.cn',
 'hgasquoine9@google.ru',
 'ftarra@shareasale.com',
 'abathb@umn.edu',
 'lchastangc@goo.gl',
 'cceried@yale.edu']

In [11]:
full_names = []

for line in data_lines[1:15]:
    full_names.append(line[1]+' '+line[2])

In [12]:
full_names

['Joseph Zaniolini',
 'Freida Drillingcourt',
 'Nanni Herity',
 'Orazio Frayling',
 'Julianne Murrison',
 'Lucy Gamet',
 'Dyana Howatt',
 'Kassey Herion',
 'Chrissy Hedworth',
 'Hyatt Gasquoine',
 'Felicdad Tarr',
 'Andrew Bath',
 'Lucais Chastang',
 'Car Cerie']

Writing to a csv file

In [13]:
file_to_output=open('to_save_file.csv',mode='w',newline='')
csv_writer=csv.writer(file_to_output,delimiter=',')
csv_writer.writerow(['a','b','c'])

7

In [14]:
csv_writer.writerows([['1','2','3'],['4','5','6']])

In [15]:
file_to_output.close()

In [16]:
#similarly similar operations can be performed using append mode